exportPattern("^[[:alpha:]]+")
import(Rcpp)
import(methods)
import(rstantools)
import(stats)
import(reshape)
import(matrixStats)
import(ini)
import(jsonlite)
import(preprocessCore)
import(plyr)
import(ggplot2)
import(dplyr)
import(tibble)
import(tidyr)
import(parallel)
import(edgeR)
import(limma)
import(data.tree)
import(jsonlite)
import(yaml)
import(ggrepel)
import(RColorBrewer)
import(doFuture)
useDynLib(ARMET, .registration = TRUE)
